name: Lint Models

on: [push,pull_request]

jobs:
  lint-models:
    runs-on: ubuntu-latest
    steps:
      - uses: "actions/checkout@v2"
      - uses: "actions/setup-python@v2"
        with:
            python-version: "3.8"
      - name: Install SQLFluff
        run: "pip install sqlfluff==1.4.2"
      - name: Lint models
        run: "value=`sqlfluff lint Queries/* --dialect ansi`
             if [[ $value == *"FAIL"* ]]; then
             fix=`sqlfluff fix Queries/* --force --dialect anshi`
             echo $fix
             remaining_format=`sqlfluff lint Queries/* --dialect ansi`
             echo $remaining_format
             else;
             echo 'success';
             fi;"
