name: Lint Models

on:
  push:
    paths:
    - 'Queries/*'
  pull_request:
    paths: 
    - 'Queries/*'

jobs:
  lint-models:
    runs-on: ubuntu-latest
    steps:
      - uses: "actions/checkout@v2"
      - uses: "actions/setup-python@v2"
        with:
            python-version: "3.8"
      - name: Install SQLFluff
        run: "pip install sqlfluff==1.4.2"
      - name: Lint models
        run: |
         chmod +x test.sh
         test.sh
        shell: bash
